<script lang="ts">
	import { defaultConfig } from '@/_standalone/{{componentName}}/types';

	let validInstances: Map<number, () => void> = new Map();

	const generateInstance = () => {
		const { stop } = window.{{componentName}}.start(defaultConfig);

		validInstances = validInstances.set(Math.random() * 100, stop);
	};

	const removeInstance = (instance: () => void, i: number) => {
		instance();

		validInstances.delete(i);
		validInstances = validInstances;
	};
</script>

<svelte:head>
	<script type="module" src="/dist/standalone/{{componentName}}.min.js"></script>
</svelte:head>

<main class="p-2">
	<button
		class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
		on:click={generateInstance}>init instance of {{componentName}}</button
	>
	<p class="pt-2">defaultConfig: {JSON.stringify(defaultConfig)}</p>
	{#each validInstances as [i, instance]}
		<div class="d-flex flex-col gap-2">
			<button
				class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				on:click={() => removeInstance(instance, i)}>stop {i}</button
			>
		</div>
	{/each}
</main>
